@import url('fonts/FantasqueSansMono-Regular-decl.css');
html {
    background: url(img/backgroundalt.png) repeat;
    font: 0.9em 'Fantasque Sans Mono', sans-serif;
    line-height: 1.25em;
}

body {
    height: 100%;
    font-size: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

header {
    display: flex;
    align-items: center;
}

a,
a:visited {
    color: darkslategray;
}

a:hover,
a:visited:hover {
    color: lightblue;
}

#main-container {
    background: white;
    border: 5px double darkgrey;
    border-radius: 5px;
    margin: auto;
    max-width: 500px;
}

#container-contents {
    padding: 1em;
}

#logo {
    /* CSS fucking me up */
    text-align: right;
    float: right;
}

#logo>img {
    max-width: 40%;
    height: auto;
}

#about ul {
    list-style-type: "» ";
    margin: 0;
    padding-left: 0.5em;
}

#profile-image {
    width: 100%;
    height: auto;
}

#faves ul {
    list-style-type: "✧ ";
    margin: 0;
    padding-left: 0.5em;
}

#faves ul.loves {
    list-style-type: "♥ ";
}

#faves ul.likes {
    list-style-type: "♡ ";
}

#etc ul {
    list-style-type: "⚠: ";
    margin: 0;
    padding-left: 1.5em;
}

#music {
    padding: 0 0.5em 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#music button {
    background: none !important;
    border: none !important;
    /* border: 1px solid black;
    border-radius: 5px; */
    padding: 0.2em 0.3em !important;
}

#music button:hover {
    background: none !important;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2em 0.3em !important;
}

hr#divider {
    display: block;
    border: 0px;
    height: 18px;
    background: url('img/divider.gif') no-repeat center;
}

hr#main-divider {
    display: block;
    border: 0px;
    height: 18px;
    background: url('img/cuthere.png') no-repeat center;
}

ul.header-links {
    /* fuck inline text */
    display: flex;
    flex-direction: row;
    gap: 1em;
    /* actual list styling */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.header-links>li>button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: 1.05em 'Fantasque Sans Mono', sans-serif;
    color: lightslategrey;
    text-decoration: underline;
    cursor: pointer;
}

button:hover {
    color: lightblue;
}

button.active {
    /* fuck CSS */
    color: black !important;
}

.content {
    padding: 0.5em 0.5em 0;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}


/* Fade in tabs */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}